{% extends "crud/base.html" %}
{% block content %}

        <form action="/editpost/{{message.id}}/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea id="message" name="message" class="form-control">{{message.message}}</textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Edit Message" class="btn btn-primary"/>
            </div>
        </form>

        <div>
            <a href="/">Back to View All</a>
        </div>
{% endblock %}