{% extends "crud/base.html" %}
{% block content %}
<div class="mb-3">
    <a href="/new">New Message</a>
</div>
{% if messages %}
    {% for m in messages %}
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">{{m.id}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{m.message}}</p>
          <a href="/edit/{{m.id}}" class="btn btn-primary">Edit</a> <a href="/delete/{{m.id}}" class="btn btn-danger">Delete</a>
        </div>
      </div>

    {% endfor %}
{% else %}
    <p>No Messages</p>
{% endif %}
{% endblock %}