<!DOCTYPE html>

<html>
    <head>
        <title>Message Application</title>
    </head>

    <body>

        <h1>Message Application</h1>

        <form action="/newpost/" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label for="message">Message</label>
                </div>
                <textarea id="message" name="message"></textarea>
            </div>
            <div>
                <input type="submit" value="New Message" />
            </div>
        </form>

        <div>
            <a href="/">Back to View All</a>
        </div>
    </body>
</html>